:root {
    --primary-color:#4338CA;
    --dark-gray:#9CA3AF;
    --off-white:#F3F4F6;
}
body {
    display:block;
    background-color: #9CA3AF;
}
#btn-translate {
    display:flex;
    background-color: black;
    color:burlywood;
    padding:0.5rem 0.5rem;
    border-radius:1rem;
}
#output-box {
    
    border:1px solid black;
    height:10vh;
    width:31%;
    padding:1.5rem;
    
    
}
/* h1 { */
    /* text-align: center; */
/* } */
#input {
    align-items: center;
}
#desc {
    font-weight: 1rem;
}
.list-non-bullet {
    list-style:none;
}
.list-item-inline {
    display:inline;
    padding:0rem 0.5rem;
}
.footer {
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align:center;
    color:white;
    border-top-right-radius: 1rem;;
    position:fixed;
    bottom:0;
    width:100%;

}
.footer .link {
    color:white;
}
.footer ul {
    padding-inline-start: 0px;
}